<li id="training-<%= @training.id %>">
  <div>
    <%= l(training.date, format: '%A %d %B, à %Hh%M') %>
    <% if training.location %>
      <%= cl_image_tag training.location.photo.path, width: 60, height: 60, crop: :fill, class: "avatar-large" %>
      <strong><%= training.location.name %></strong><br />
      <%= training.location.address %>
    <% end %>
  </div>
  <span>Déjà réservé <i class="fa fa-check" aria-hidden="true"></i></span>
</li>
