<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="<%= root_path(anchor: 'contenu') %>" class="navbar-wagon-link anchor">Présentation</a>
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <a href="#" class="navbar-wagon-link dropdown-toggle" data-toggle="dropdown">Villes</a>
        <div class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu dropdown-cities">
          <div class="dropdown-cities-container">
            <ul class="">
              <!--  <li><h4>Nord-Ouest</h4></li> -->
              <% City.all.each do |c| %>
                <li><%= link_to c.name, city_path(c) %></li>
              <% end %>
            </ul>
            <ul class="">
              <!-- <li><h4>Sud-Est</h4></li> -->
              <li><a href="#" class="unactive">Nantes</a></li>
              <li><a href="#" class="unactive">Marseille</a></li>
              <li><a href="#" class="unactive">Toulouse</a></li>
<!--               <li><a href="#" class="unactive">Lyon</a></li> -->
            </ul>
            <ul class="">
              <!-- <li><h4>Sud-Est</h4></li> -->
              <li><a href="#" class="unactive">Lille</a></li>
              <li><a href="#" class="unactive">Nice</a></li>
            </ul>
           <!--  <ul class="">
              <li><h4>Sud-Ouest</h4></li>
              <li><a href="#">Paris</a></li>
              <li><a href="#">Marseille</a></li>
              <li><a href="#">Lyon</a></li>
              <li><a href="#">Lille</a></li>
              <li><a href="#">Nantes</a></li>
              <li><a href="#">Toulouse</a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
    <% if user_signed_in? %>
    <!-- Different navigation if login or not -->
      <% if current_user.is_coach %>
        <%= link_to trainings_path, class: "navbar-wagon-link" do %>
          <i class="fa fa-calendar" aria-hidden="true"></i> Gérer ma ville
        <% end %>
      <% else %>
        <div class="navbar-wagon-item">
          <h5>Séances <span class="circle"><%= current_user.tickets_nb %></span></h5>
        </div>

        <div class="navbar-wagon-item">
          <%= form_tag orders_path do %>
            <%= hidden_field_tag 'tickets_package_id', @tickets_package.id %>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-image="http://res.cloudinary.com/ind-pendant/image/upload/v1477414806/logo_jieaz6.jpg"
              data-locale="auto"
              data-email="<%= current_user.email %>"
              data-label="Acheter des séances"
              data-name="<%= @tickets_package.tickets_nb %> tickets Chaud Patate"
              data-description="Pour <%= @tickets_package.tickets_nb %> entraînements avec la team !"
              data-amount="<%= @tickets_package.price_cents %>"
              data-currency="<%= @tickets_package.price.currency %>">
            </script>
          <% end %>
        </div>
      <% end %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% if current_user.photo %>
            <%= cl_image_tag current_user.photo.path, height: 80, width: 80, crop: :fill, class: "avatar-large dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% elsif  current_user.linkedin_picture_url %>
            <%= cl_image_tag current_user.linkedin_picture_url, height: 80, width: 80, crop: :fill, class: "avatar-large dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% else %>
            <%= image_tag "http://res.cloudinary.com/ind-pendant/image/upload/v1478766698/user_mkbsoj.png", class: "avatar-large dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Se déconnecter") %>
              <% end %>
            </li>
            <li>
              <% unless current_user.is_coach %>
                <%= link_to bookings_path do %>
                  <i class="fa fa-calendar" aria-hidden="true"></i> Mes entraînements à venir
                <% end %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Se connecter"), new_user_session_path, class: "navbar-wagon-link" %>

    <% end %>

    <!-- Button (call-to-action) -->
    <%#= link_to t(".top_call_to_action", default: "Post stuff"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %>

    </div>
   <%= render "shared/mobile-menu" %>
</div>

