<h1>Bonjour <%= @booking.user.first_name %>,</h1>

<p>
  Votre inscription à l'entraînement du <%= l(@booking.training.date, format: '%A %d %B, à %Hh%M')%> a bien été enregistrée.
  <% if @booking.training.location %>
    L'adresse de départ : <%= @booking.training.location.name %></br><%= @booking.training.location.address %>.
  <% else %>
    Le lieux de départ n'a pas encore été communiqué mais il sera affiché sur la page de ta ville plus tard.
  <% end %>
  Votre coach <%= @booking.training.city.coach.first_name %> sera là pour vous accueillir.
</p>

<p>
Pour voir tous vos entraînements à venir, rendez-vous sur <%= link_to "Mes entraînements à venir", bookings_url %>.
</p>

<p>
A très bientôt,
</p>
<p>
Paul de Chaud Patate
</p>
