<h1>Bonjour <%= @booking.user.first_name %>,</h1>

<p>
Votre prochain entraînement approche !!
Rendez-vous le <%= l(@booking.training.date, format: '%A %d %B, à %Hh%M')%> pour une séance au top. L'addresse de départ : <%= @booking.training.location.name %></br><%= @booking.training.location.address %>.
</p>
<p>
Pour voir tous vos entraînements à venir, rendez-vous sur <%= link_to "Mes entraînements à venir", bookings_url %>.
</p>
<p>
A très bientôt,
</p>
<p>
Paul de Chaud Patate
</p>
