<% content_for(:title) do %>
  Chaudpatate, le rendez-vous sportif des startupers
<% end %>

<% content_for(:description) do %>
  Chaud Patate te permet de faire du sport tout en rencontrant d'autres startupers !
<% end %>

<div class="banner">
  <div class="banner-content">
    <h1>Chaudpatate</h1>
    <h2>Le networking sportif</h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="buttons">
      <a href="" class="btn btn-gray">Découvrir notre concept</a>
      <%= link_to "Devenir membre", new_user_session_path, class: "btn btn-green" %>
    </div>
  </div>
  <div class="row">
    <h2 class="text-center">Villes<br /><small>Où trouver Chaud Patate</small></h2>
    <div class="cities">
      <% @cities.each do |city| %>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        	<div class='text-deco-none'>
  		  	<%= link_to city_path(city) do %>
  					<div class="city-card" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%), url(<%= cl_image_path city.photo.path, width: 360, crop: :fill %>); background-size: cover; background-position: center">
  					  <h3><%= city.name %></h3>
    				</div>
  		    <% end %>
  		    </div>
    		</div>
      <% end %>
    </div>
  </div>
</div>
<div class="bg-grey spaced-top spaced-bottom padded">
  <div class="container">
    <div class="row">
      <h2 class="text-center spaced-bottom">
        Concept<br /><small>Seul on va plus vite, ensemble on va plus loin </small>
      </h2>
      <div class="col-xs-12 col-sm-3 text-center">
        <%= image_tag("coworking.png", size: "50x50", alt: "Edit Entry", class: "brand-colored") %>
        <p>
          Séance comportant cardio-training, renforcement musculaire et sport d’équipe.
        </p>
      </div>
      <div class="col-xs-12 col-sm-3 text-center">
        <%= image_tag("coworking.png", size: "50x50", alt: "Edit Entry", class: "brand-colored") %>
        <p>
          Entraînements sportifs dans des co-working, incubateurs ou en plein air à proximité.
        </p>
      </div>
      <div class="col-xs-12 col-sm-3 text-center">
        <%= image_tag("networking.png", size: "50x50", alt: "Edit Entry", class: "brand-colored") %>
        <p>
          Interaction avec l’écosystème entrepreneurial
        </p>
      </div>
      <div class="col-xs-12 col-sm-3 text-center">
        <%= image_tag("talking.png", size: "50x50", alt: "icone experience", class: "brand-colored") %>
        <p>
          Partage d’expérience des membres du réseau
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h2 class="text-center">La méthode</h2>
      <p>Des jeux sportifs pour briser la glace</p>
      <ul>
        <li>Pitch elevator sportif</li>
        <li>Nice to meet You</li>
        <li>You know he is the best in</li>
        <li>W.I.N to win</li>
      </u>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2 class="text-center">Contenu d'une séance</h2>
      <ul>
        <li><strong>19h15</strong>: Accueil des participants</li>
        <li>
          <strong>19h30 - 20h30</strong>: Cardio training /
          renforcement musculaire / jeux d’équipe
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h2 class="text-center">Informations complémentaires</h2>
    <div class="col-xs-12 col-sm-4">
      <p><strong>Durée de la séance</strong><br /> 1 heure</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <p><strong>Tarif</strong><br /> 5 euros par personne - Première séance gratuite</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <p><strong>Deux niveaux pratiques</strong><br />
        Patate Douce (débutant) et Patator (sportif aguerri)
      </p>
    </div>
  </div>
  <div class="row">
    <h2 class="text-center">Le mot du coach Chaud Patate</h2>
    <div class="col-xs-12 col-sm-2 col-sm-offset-2 text-right">
      <%= image_tag("paul-voillemin.jpg", size: "150x150", alt: "Edit Entry", class: "avatar-portrait") %>
    </div>
    <div class="col-xs-12 col-sm-6 large-spaced-bottom">
      <p style="margin-top: 20px">Novembre 2015, je rejoins un nouvel espace de co-working où personne ne se connaît encore. Afin de briser la glace, je propose aux résidents un défi sportif de 2 minutes. Tout le monde joue le jeu et en redemande de manière quotidienne. Un bon moyen pour sortir la tête de leur écran, communiquer et bouger. Ces mini défis finissent par devenir des séances d’une heure et depuis, l’histoire continue !</p>
    </div>
  </div>
</div>
<% content_for :after_js do %>
  <script type="text/javascript">
    $(window).scroll(function(){ $('.dropdown').removeClass("open"); });
  </script>
<% end %>
