<% content_for(:title) do %>
  Chaud Patate - Faire du sport entre startupers à <% @city.name %>
<% end %>

<% content_for(:description) do %>
  Chaud Patate à <% @city.name %>. Faites du sport en rencontrant d'autres startupers. Networking sportif.
<% end %>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="banner-city" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(<%= cl_image_path @city.photo.path, width: 864, height: 327, crop: :fill %>); background-size: cover; background-position: center">
        <div class="banner-content">
          <h2><%= @city.name.capitalize %></h2>
          <% @city.sessions.each do |session| %>
            <h4>
              <%= "Les #{t(:"date.day_names")[wday(session.day)]} à #{session.time_of_day.strftime('%Hh%M')}" %>
            </h4>
          <% end %>
        </div>
        <div class="banner-cta">
          <div class="btn-coach">
            <div>
              <% if @city.coach.photo %>
                <%= cl_image_tag @city.coach.photo.path, width: 50, height: 50, crop: :fill, class: "avatar-large" %>
              <% end %>
              <strong><%= @city.coach.full_name %></strong>
            </div>
          </div>
          <% if @city.coach != current_user %>
            <a class="btn-cta" data-toggle="modal" data-target="#IndexTrainings">S’inscrire à une session</a>
          <% else %>
            <%= link_to "Voir les inscriptions", trainings_path, class: "btn-cta" %>
          <% end %>
        </div>
      </div>
      <div class="city-content">
        <div class="row">
          <div class="col-xs-12">
            <% if current_user %>
              <% unless current_user.bookings.upcoming.empty? %>
                <div class="alert alert-warning">
                  <strong><%= current_user.first_name %></strong>, vous êtes inscrits aux sessions de Lyon <%= link_to "Voir mes sessions", bookings_path, class: "btn btn-cta-small" %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <% if @next_training.location && @next_training.public_description %>
          <div class="row">
            <div class="col-xs-12 section-location">
              <h3 class="text-center section-title">Prochain départ</h3>
                <div class="location-details">
                  <%= cl_image_tag @next_training.location.photo.path, width: 120, height: 120, crop: :fill, class: "avatar-huge" %>
                  <div>
                    <h4><%= @next_training.location.name %></h4>
                    <p>
                      <a href="#map" class="anchor-map">
                        <i class="fa fa-map-o" aria-hidden="true"></i>
                        <%= @next_training.location.address %>
                      </a>
                    </p>
                    <p><%= @next_training.public_description %></p>
                  </div>
                </div>
            </div>
          </div>
        <% end %>
          <div class="row">
            <div class="col-xs-12 section-members <%= 'inactive' if @city_members.empty? %>">
              <h3 class="text-center section-title">Membres à <%= @city.name %></h3>
              <div class="members-listing">
              <% unless @city_members.empty? %>
                <% @city_members.each do |city_member| %>
                  <%= render "/users/user_card", city_member: city_member%>
                <% end %>
              <% end %>
              </div>
            </div>
          </div>
        <% if @next_training.location %>
          <div id="map"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
	<%= javascript_tag do %>
		$(document).on('ready', function() {
		  var handler = Gmaps.build('Google');
		  handler.buildMap({ internal: { id: 'map' } }, function() {
		    markers = handler.addMarkers(<%=raw @hash_location.to_json %>);
		    handler.bounds.extendWith(markers);
		    handler.fitMapToBounds();
				handler.getMap().setZoom(13);
			});
		});
	<% end %>
<% end %>

<%= render "/trainings/index_form" %>
