<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).blank? ? "Chaud Patate" : yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="<%= (yield(:description) || "").squish %>">
    <meta property="og:title" content="Chaudpatate, le rendez-vous sportif des startupers">
    <meta property="og:image" content="<%= image_path "background_2.jpg" %>">
    <meta property="og:description" content="Chaud Patate te permet de faire du sport tout en rencontrant d'autres startupers !">
    <meta property="og:site_name" content="Chaud Patate">
    <meta name="twitter:site" content="@ChaudPatate75">
    <meta name="twitter:title" content="Chaudpatate, le rendez-vous sportif des startupers">
    <meta name="twitter:description" content="haud Patate te permet de faire du sport tout en rencontrant d'autres startupers !">
    <meta name="twitter:creator" content="@ChaudPatate75">
    <meta name="twitter:image:src" content="background_2.jpg">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= favicon_link_tag 'logo.png', type: 'image/png' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?key=#{ENV['GOOGLE_KEY']}" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>
    <%= javascript_include_tag 'application' %>
    <%= yield(:after_js) %>
    <%= cloudinary_js_config %>
  </body>
</html>
